/* COLOURS  */

/*main text colour*/

h1, h2, h3, h4, h5, h6, p, .circle-link {
    color: #DBE8D4;
}

/* bottom border highlight colour */
h2:before {
    border-color: #6FB8B9 !important;
}
.link:hover, .circle-link:hover   {
    border-color: #6FB8B9;
}

#heading {
    color: #DBE8D4 !important;
}

.circle-link:hover  {
    color:  #6FB8B9;
}

.highlight {
    color:  #6FB8B9;
}

.desc {
    color: #DBE8D4 !important;
}


.circle-link {
    border: solid 2px #23292d;
}


.navbar {
    background-color: #525e65;
}

hr {
    border-color: #525e65; 
}

.btn-primary {
    border-color:  #33393d;
}

.btn-primary {
    background-color:  #33393d;
}

@keyframes caret-blink {
    0% { background-color: #FFF}
    50% { background-color: transparent}
}


/*Main Css*/
body {
    padding: 0;
    padding-top: 50px;
    background-color: #40495F;
    color: white !important;
    -webkit-font-smoothing: antialiased;
}


h2 {
    padding-bottom: 10px;
    display: inline-block;
    position: relative;
    letter-spacing: 2px;
}

h2:before {
    position: absolute;
    content: "";
    height: 1px;
    left: -25%;
    bottom: -20px;
    width: 150%;
    border-bottom: 5px solid transparent;
}

#top-well {
    background-color: #222733;
    border-radius: 0px;
    border: none !important;
    padding-bottom: 150px;
    margin-bottom:50px;
    border-bottom:0px;
}


.nopad {
    padding: 0 !important;
    margin: 0 !important;
}

.center {
    text-align: center;
}

.skill-img {
    display: inline-block;
    margin: 20px;
}


.link {
    color: white !important;
    font-size: 16px;
    margin: 15px 10px 0px 10px;
    border-bottom: 5px solid transparent;
    line-height: 0px !important;
    padding: 0;
    text-align: center;
    letter-spacing: 2px;
}

.large {
    font-size: 24px !important;

}



.navbar {
    border-width: 0px;
    box-shadow: 0 7px 20px 0 rgba(0,0,0,0.2), 0 4px 10px 0 rgba(0,0,0,0.2);
}

ul.navbar-nav {
    white-space: nowrap;
}

.navbar-nav li {
    display:inline-block;
    float: none;
}

#display-img {
    border-radius: 50%;
    display:inline-block;
    margin-top:40px;
    max-height: 100%;
    max-width: 100%;

}

input {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    padding:10px 10px 10px 10px;
} 

textarea {
    resize:none;

}

form {
    max-width: 600px;
    margin:auto;
    border: none;
}

#footer {
    margin-top: 50px;
    overflow: hidden;
    background-color: #40495F;
    border: none !important;
    box-shadow: none;
    border-radius:0;
}

#social {
    float:right;
}

.circle-link {
    border: solid 2px;
    border-radius: 50%;
    padding: 10px;
    height: 50px;
    width: 50px;
    text-align:center;
}

.thumbnail {
    border-color: #ccc !important;
}

#heading {
    margin-top: 100px;
    font-size: 60px;
    font-family: 'Inconsolata', monospace;
    padding-bottom: 20px;
    opacity: 0;
}

.desc {
    margin-top: 30px;
    font-size: 22px;
}

#caret {
    position: relative;
    display: inline-block;
    height: 60px;
    width: 30px;
    top: 10px;
    animation:
        caret-blink  1.25s step-end infinite;
}

.thumbnail {
    margin: 10px auto;
}

.showcase {
    display: block;
    position: relative;
    margin: 30px 20px;
    border-radius: 10px;
    border: 1px solid #525e65;
    box-shadow: 2px 2px 2px #525e65;
}

.overlay {
    position: absolute;
    background-color: black;
    opacity: 0.5; 
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: opacity 0.2s;
}
.showcase:hover>.overlay {
    opacity: 0.3;
}

.showcase:hover>.showcase-heading {
    font-size: 32px;
}

.showcase:hover {
    border-color: #6FB8B9;
    box-shadow-color: #4F9899;
}


.showcase:hover, .showcase:visited, .showcase:focus {
    text-decoration: none;
}



#showcase1 {
    background: url('calculator.png') no-repeat center center;
    background-color: #7180AC;   
    background-size: 100%;
}

#showcase2 {
    background: url('twitch.png') no-repeat center center;
    background-color: #7180AC;   
    background-size: 100%;
}

#showcase3 {
    background: url('wikipedia.png') no-repeat center center;
    background-size: 100%;
    background-color: #28464B;
}

#showcase4 {
    background: url('calculator.png') no-repeat center center;
    background-size: 100%;
}

#showcase5 {
    background: url('calculator.png') no-repeat center center;
    background-size: 100%;
}

#showcase6 {
    background: url('calculator.png') no-repeat center center;
    background-size: 100%;
}

.showcase-heading {
    position: relative;
    width: 250px;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 30px;
    text-align: center;
    color: white;
    text-shadow: 1px 0 0 black, -1px 0 0 black, 0 1px 0 black, 0 -1px 0 black;
    transition: font-size 0.2s;
}

.detail {
    position: absolute;
    width: 100%;
    height: 80px;
    bottom: 0;
    left: 0;
    margin-right: 20px;
    display: none;
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    font-size: 16px;
    margin-top: 138px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}

.detail>p {
    color: white;

}

.showcase:hover>.detail {
}


#skills {
    margin-bottom: 150px;
}



@media only screen and (max-width: 550px) {
    #heading {
        font-size: 11vw;
    }
    #caret {
        height: 11vw;
        width: 5.5vw;
    }
}

